body
{
	text-align:center;
	overflow: hidden;
	background-image: url('background.jpg');
	background-repeat: repeat;
	background-position: right-top;
}

#header
{
	width: 100%;
	padding: 5px;
	font-family: Verdana;
	color: #000;
	font-size: 1em; 
	background: #000;
}

#header span
{
	color: #33DF25;
	display: block;
	width: 16%;
	height: 10px;
	float: right;
	text-align: left;
}

#boundary
{
	display: block;
}

#base
{
	z-index: 0;
	position: absolute;
	top: 25%;
	left: 25%;
}